<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dofbot_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dofbot_description urdf file -->
    <xacro:include filename="$(find dofbot_description)/urdf/dofbot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dofbot_description.ros2_control.xacro" />


    <xacro:dofbot_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
